# CSV files #
######################
*.csv

# ENV file #
######################
.env

# node modules #
######################
node_modules/

# build #
######################
build/

# dist #
######################
dist/
